#login label, input, button{
    margin-bottom: 0.5em;
}

#login input {
    width: 15em;
}

#login label{
    display: flex;
}

.main {
    display:flex;
    justify-content: center;
}

.login-container {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

#button-center {
    display: flex;
    justify-content: center;
}

