.display-download-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option-selection {
    width: 225px;
    height: 200px;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/*
.option-selection:hover {
    background-color: #70B237;
}
*/

.option-selection > img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    margin-left: auto;
    margin-right: auto;
}

.selection-displayed {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.purchase-where, .download-where {
    width: 50%;
    margin-right: 20px;
}

li:hover a {
    background-color: #70B237;
    width: 100%;
    /* font-weight: bold; */
}

/* ------------------------------------------------------------------------ */

@media screen and (max-width: 700px) {          /* was not working in global css */
    .display-download-options {
        flex-direction: column;
        align-items: center;
	}

	.selection-displayed {
        flex-direction: column;
    }

    .purchase-where, .download-where {
        width: 100%;
    }
}