#delete-seed {
    margin-left: 10px;
}

#create-world-seed {
    margin: 0 auto 10px;            /* centered and bottom margin of 10px */
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#choose {
    display: flex;
    justify-content: center;
}

#choose div {
   margin: 0.5em;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

#proper {
    text-transform: capitalize;
}

#nothing {
    margin: 1em;
    color: white;
}