.cards-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-style: solid; */
    justify-content: center;
}

.card {
    border-style: solid;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card-image {
    order: 1;
    height: 200px;
    box-sizing: border-box;
    background-color: #cccccc;
    border-radius: 5px 5px 0px 0px;
}

.card-description {
    height: 70px;
    order: 2;
    box-sizing: border-box;
    /* border-style: solid; */
    padding: 5px;
    border-radius: inherit;
}

.build-feedback-perc {
    order: 3;
    height: 30px;
    box-sizing: border-box;
    /* border-style: solid; */
    text-align: right;
    padding-right: 5px;
}

#haveidea {
    margin-top: 2%;
}

#haveidea a {
    border: 2px solid black;
    border-radius: 5px;
    background-color: green;
    padding: 2px;
}

@media (max-width: 49.9375em) {
    .card {
       width: 300px;
       height: 400px;
    }
}

@media (max-width: 40em) {
    .card {
       width: 400px;
       height: 500px;
    }
}