.cards-container {
    display:flex;
    flex-direction: row;
    /* border-style: solid; */
    justify-content: center;
}

.card {
    border-style: solid;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card-image {
    order: 1;
    height: 200px;
    box-sizing: border-box;
    background-color: #cccccc;
    border-radius: inherit;
}

.card-description {
    height: 70px;
    order: 2;
    box-sizing: border-box;
    /* border-style: solid; */
    padding: 5px;
    border-radius: inherit;
}

.build-feedback-perc {
    order: 3;
    height: 30px;
    box-sizing: border-box;
    /* border-style: solid; */
    text-align: right;
    padding-right: 5px;
}