.display-download-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option-selection {
    width: 300px;
    height: 200px;
    border-style: solid;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.option-selection img {
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
        margin-left: auto;
        margin-right: auto;
}

.selection-displayed {
    margin-top: 10px;
}

@media screen and (max-width: 700px) {          /* was not working in global css */
    .display-download-options {
        flex-direction: column;
        align-items: center;
	}
}