.header {
	padding: 20px;
	text-align: center;
	background-color: #404040;
	color: white;
	font-family: Optima, Didot;
	font-size: 48px;
}

/* ------------------------------------------------------------------------ */

.navigation {
	display: flex;
	justify-content: center;
	background-color: #003300;
}

.navigation a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	background-color: #008000;
}

/* ------------------------------------------------------------------------ */

.main {
	margin: 20px 10px;
	margin: 0;
	padding: 10px;
}

/* ------------------------------------------------------------------------ */

.footer {
	padding: 0.75em;
	width: 100%;
	/* height: 14em; */
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	background-color: #404040;
	justify-content: center;
}

.footer-contact-info {
	/* width: 10em; */
	box-sizing: border-box;
	margin: 10px;
	padding: 0px 20px;
	font-family: Optima, Didot;
}

.footer-contact-info > h3 {
	margin-bottom: 5px;
}

.social-media-links {
	height: 2em;
	float: left;
	padding-right: 0.5em;
}

/* ------------------------------------------------------------------------ */
/* Navigation Bar Responsive */
@media screen and (max-width: 700px) {
	.navigation {
		flex-direction: column;
	}
}

/* Small Display */
@media (min-width: 34em) and (max-width: 49.9375em) {

}

/* Large Display */
@media (min-width: 50em) {

}


/* ------------------------------------------------------------------------ */

body {
	margin: 0;
	background-color: #006600;
}

a {
	text-decoration: none;
	color: black;
}

p, li, input {
  margin-top: 0;
  font-family: Didot;
  font-size: 1.2em;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Didot;
}

/* ------------------------------------------------------------------------ */

