.get-mc {
	width: 100%;
	height: 60vh;
	border-style: solid;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

#get-mc-home-img {
	width: 80%;
}

#image-home {
    width: 100%;
    height: 100%;
}

#get-mc-button-np {
    text-align: left;
	width: 20%;
	padding: 15px;
}

#get-mc-button-np > p {
    margin: 0;
}

#link-get-mc {
	font-family: Didot;
	width: 6em;
}

.new-features {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#go-back {
	height: 4em;
	width: 4em;
	border-style: solid;
	box-sizing: border-box;
}

#feature-img {
	height: 13em;
	width: 20em;
	border-style: solid;
	box-sizing: border-box;
}

#go-next {
	height: 4em;
	width: 4em;
	border-style: solid;
	box-sizing: border-box;
}

#about-mc {

}
