{% extends "template.html" %}

{% block localcss %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/blog-posts-hub_style.css')}}">
{% endblock %}

{% block content %}
    <!-- Main Body of Page -->
		<div class = "main">
			<form>
			<div id = "blog-post-buttons">
				<input type="button" value = "Create a Post" onclick="window.location.href='/newpost'" id = "new-post" class = "link-buttons">
				{% if current_user.is_authenticated and current_user.is_admin%}
					<input type="submit" formaction="/delposts" formmethod="POST" value = "Delete Post" id = "delete-post" class = "link-buttons">
	    		{% endif %}
			</div>
			<div class = "list-blog-posts">
				<table class="listings" id="list">
					{% for row in posts %}
						<tr>
							<td>
								{% if current_user.is_authenticated and current_user.is_admin%}
								<label class="checkbox">
								  <input type="checkbox" class = "check-box-input" name="blog" value="{{ row[0] }}"/>
								</label>
								{% endif %}
								<label><a href="/viewpost/{{ row[0] }}">{{ row[1] }}</a></label>
							</td>
						</tr>
					{% endfor %}
	    		</table>
	    	</div>
			<a href="#to-top"><h3 class="to-top">Back to Top</h3></a>
			</form>
		</div>
{% endblock %}

{% block scripts %}
	<script>
		var hi = document.getElementById("list").innerHTML;
		hi = (hi.trim) ? hi.trim() : hi.replace(/^\s+/,'');
		if(hi == '') {
			document.getElementById("list").outerHTML = "<h2 id='nothing'>No Posts Available</h2>";
		}
	</script>
{% endblock %}