{% extends "template.html" %}

{% block localcss %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/blog-post.css')}}">
{% endblock %}

{% block content %}
    <!-- Main Body of Page -->
		<div class = "main">
			<h1>Blog Post Title</h1> <!-- {{ blog.title }} -->
			<p>This is a sample blog post and the contents of the submitted post. In each blog post,
				there will be a title, and a body paragraph created from the user.
				Only the admin after logging in will be able to delete blog posts from the main blog post page.</p>
			<a href="blog-posts.html"><center><input type="button" value = "All Posts" id = "all-posts"></center></a>
			<br><br>
		</div>
{% endblock %}