{% extends "template.html" %}

{% block localcss %}
	<script type="text/javascript" src="{{url_for('static', filename='js/bideaf.js')}}" defer></script>
{% endblock %}

{% block content %}
    <!-- Main Body of Page -->
		<div class = "main">
			<h1>What's Your Idea?</h1>
            <form>
                <h2>Title of build</h2>
                <input type="text" name="title" required><br><br>
                <h2>Give a description or link to photo of a build</h2>
                <textarea rows="4" name="desc" style="width: 100%;"></textarea><br><br>

                <input type="submit" formmethod="POST" formaction="/send" class = "link-buttons" onclick="submitted()">
                <h2 id = "checkitout"></h2>
            </form>
		</div>
{% endblock %}
