{% extends "template.html" %}

{% block localcss %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}

{% block content %}
    <!-- Main Body of Page -->
		<div class = "main">
			<h1>What's Your Idea?</h1>
            <form>
                <h2>Title of build</h2>
                <input type="text" required><br><br>
                <h2>Give a description or link to photo of a build</h2>
                <textarea rows="4" style="width: 100%;"></textarea><br>

                <input type="submit">
                <h2><br>We will check this out! ###NOTE: this will be hidden unless submitted once javascript is implemented, and form will be posted to our email</h2>
            </form>
		</div>
{% endblock %}