{% extends "template.html" %}

{% block localcss %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/new-seed.css')}}">
{% endblock %}

{% block content %}
    <!-- Main Body of Page -->
		<div class = "main">
            <form>
                <h2>Description</h2>
                <input type="text" id = "seed-desc" required>
                <br><br>
                <h2>Seed Number</h2>
                <input type="text" id = "seed-num" required>
                <br><br>
                <h2>Tags</h2>

                <div class = "tag-container">
                    <div class = "tag-col">
                        <input type="checkbox" class = "tag-check-box" name="tag1" id="tag1" value="Village">
                        <label for="tag1">Village</label><br>
                        <input type="checkbox" class = "tag-check-box" name="tag2" id="tag2" value="Village">
                        <label for="tag2">Mountains</label><br>
                        <input type="checkbox" class = "tag-check-box" name="tag3" id="tag3" value="Village">
                        <label for="tag3">Flat Land</label><br>
                    </div>
                    <div class = "tag-col">
                        <input type="checkbox" class = "tag-check-box" name="tag4" id="tag4" value="Village">
                        <label for="tag4">Lava</label><br>
                        <input type="checkbox" class = "tag-check-box" name="tag5" id="tag5" value="Village">
                        <label for="tag5">Diamonds</label><br>
                        <input type="checkbox" class = "tag-check-box" name="tag6" id="tag6" value="Village">
                        <label for="tag6">Mineshaft</label><br>
                    </div>
                </div>

                <input type="submit">
                <br><a href="world-seed.html">link to seed</a>
                <br><br>
            </form>
		</div>
{% endblock %}