{% extends "template.html" %}

{% block localcss %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/world-seeds-hub_style.css')}}">
{% endblock %}

{% block content %}
    <!-- Main Body of Page -->
		<div class = "main">
			<input type="button" id="backbut" value="Back to World Seeds" onclick="location.href='/worldseed/all'" class = "link-buttons">
			<p><b>Seed:</b> {{ seed[1] }}</p>
			<p><b>Tag: </b>{{ tag[1] }}</p>
			<p><b>Description: </b>{{ seed[2] }}</p>
			<p class="proper"><b>Platform: </b>{{ seed[3] }}</p>
			<br><br>
		</div>
{% endblock %}