<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggest a Build</title>
    <link rel="stylesheet" href="css/global.css">
	<link rel="icon" href="images/favicon.ico">
</head>
<body>
<!-- Banner at Head of Webpage -->
<div class="stickysticky">
		<div class = "header">Build Suggestion</div>
<!-- Navigation Bar -->
		<div class = "navigation">
			<a href="homepage.html">Home</a>
			<a href="get-minecraft.html">Get Minecraft</a>
			<a href="blog-posts.html">Blog Posts</a>
			<a href="world-seeds.html">World Seeds</a>
			<a href="build-ideas.html">Build Ideas</a>
			<a href="admin-login.html">Login</a>
		</div>
</div>
<!-- Main Body of Page -->
		<div class = "main">
			<h1>What's Your Idea?</h1>
            <form>
                <h2>Title of build</h2>
                <input type="text" required><br><br>
                <h2>Give a description or link to photo of a build</h2>
                <textarea rows="4" style="width: 100%;"></textarea><br>

                <input type="submit">
                <h2><br>We will check this out! ###NOTE: this will be hidden unless submitted once javascript is implemented, and form will be posted to our email</h2>
            </form>
		</div>
<!-- Footer -->
		<div class = "footer">
			<div class = "footer-contact-info">
				<h3>Check out the official Minecraft social media for more</h3>
				<a href="https://www.instagram.com/minecraft/" target="_blank"><img alt="Intagram logo" src="images/instagram-logo.png" class = "social-media-links"></a>
				<a href="https://twitter.com/Minecraft" target="_blank"><img alt="Twitter logo" src="images/twitter-logo.png" class = "social-media-links"></a>
				<a href="https://www.youtube.com/Minecraft" target="_blank"><img alt="YouTube logo" src="images/youtube-logo.png" class = "social-media-links"></a>
				<a href="https://www.facebook.com/minecraft/" target="_blank"><img alt="Facebook logo" src="images/facebook-logo.png" class = "social-media-links"></a>
			</div>
		</div>
	</body>
</html>