<!doctype html>
<html lang="en">
	<head>
		<title>Get Minecraft</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="css/home_style.css">
	</head>	
	<body>
<!-- Banner at Head of Webpage -->
		<div class = "header">Get Minecraft</div>
<!-- Navigation Bar -->
		<div class = "navigation">
			<a href="homepage.html">Home</a>
			<a href="get-minecraft.html">Get Minecraft</a>
			<a href="blog-posts.html">Blog Posts</a>
			<a href="world-seed.html">World Seeds</a>
			<a href="build-ideas.html">Build Ideas</a>
			<a href="admin-login.html">Login</a>
		</div>
<!-- Main Body of Page -->
		<div class = "main">
			<div class = "display-download-options">
				<div class = "option-selection" id = "computer">
					
				</div>
				<div class = "option-selection" id = "mobile">

				</div>
				<div class = "option-selection" id = "console">

				</div>
			</div>
			<div class = "selection-displayed">
				<table>
					<tr>
						<td>Where to purchase and download:</td>
					</tr>
					<tr>
						<td>Download instructions:</td>
					</tr>
				</table>
			</div>
		</div>
<!-- Footer -->
		<div class = "footer">
			<div class = "footer-contact-info">
				<h3>Check out the official Minecraft social media for more</h3>
				<a href="https://www.instagram.com/minecraft/" target="_blank"><img alt="Intagram logo" src="images/instagram-logo.png" class = "social-media-links"></a>
				<a href="https://twitter.com/Minecraft" target="_blank"><img alt="Twitter logo" src="images/twitter-logo.png" class = "social-media-links"></a>
				<a href="https://www.youtube.com/Minecraft" target="_blank"><img alt="YouTube logo" src="images/youtube-logo.png" class = "social-media-links"></a>
				<a href="https://www.facebook.com/minecraft/" target="_blank"><img alt="Facebook logo" src="images/facebook-logo.png" class = "social-media-links"></a>
			</div>
		</div>
	</body>
</html>