<!doctype html>
<html lang="en">
	<head>
		<title>Get Minecraft</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="css/global.css">
			<link rel="stylesheet" href="css/get-mc_style.css">
			<link rel="icon" href="favicon.ico">
	</head>	
	<body>
<!-- Banner at Head of Webpage -->
<div class="stickysticky">
		<div class = "header">Get Minecraft</div>
<!-- Navigation Bar -->
		<div class = "navigation">
			<a href="homepage.html">Home</a>
			<a href="get-minecraft.html">Get Minecraft</a>
			<a href="blog-posts.html">Blog Posts</a>
			<a href="world-seeds.html">World Seeds</a>
			<a href="build-ideas.html">Build Ideas</a>
			<a href="admin-login.html">Login</a>
		</div>
</div>
<!-- Main Body of Page -->
		<div class = "main">
			<div class = "display-download-options">
				<div class = "option-selection" id = "computer">
					<img src="images/computer.png" alt="computer">
				</div>
				<div class = "option-selection" id = "mobile">
					<img src="images/phone.png" alt="Mobile">
				</div>
				<div class = "option-selection" id = "console">
					<img src="images/console.png" alt="Gaming Console">
				</div>
			</div>
			<!-- When one of the options is clicked, it will display this section and link using an
			anchor to go down the webpage for small displays -->
			<div class = "selection-displayed">
				<h2>Where to purchase/download</h2>
				<p>In this section, we will have where the user can purchase the game or where to download. For example,
					for mobile devices, the user will be directed to the app store where they can download (free or paid)</p>
				<ul>
					<li>Mobile - iOS:
						<a href = "https://itunes.apple.com/app/minecraft-pocket-edition/id479516143?mt=8" target="_blank">Link</a></li>
					<li>Mobile - Android:
						<a href = "https://play.google.com/store/apps/details?id=com.mojang.minecraftpe" target="_blank">Link</a></li>
					<li>Computer - Windows/Mac OS/Linux:
						<a href = "https://www.minecraft.net/en-us/store/minecraft-java-edition" target="_blank">Link</a></li>
					<li>Computer - Windows 10:
						<a href = "https://www.minecraft.net/en-us/store/minecraft-windows10" target="_blank">Link</a></li>
					<li>Game Console - Nintendo Switch:
						<a href = "https://www.nintendo.com/games/detail/minecraft-switch/" target="_blank">Link</a></li>
					<li>Game Console - Playstation:
						<a href = "https://store.playstation.com/en-us/product/UP4433-CUSA00744_00-MINECRAFTPS40001" target="_blank">Link</a></li>
					<li>Game Console - Xbox:
						<a href = "https://www.minecraft.net/en-us/store/minecraft-xbox-one" target="_blank">Link</a></li>
				</ul>

				<h2>Steps to Download:</h2>
				<ol>
					<li>Click the above link, according to which device you have</li>
					<li>Purchase the game if you haven't already</li>
					<li>Download the game</li>
					<li>Enjoy!</li>
				</ol>

			</div>
		</div>
<!-- Footer -->
		<div class = "footer">
			<div class = "footer-contact-info">
				<h3>Check out the official Minecraft social media for more</h3>
				<a href="https://www.instagram.com/minecraft/" target="_blank"><img alt="Intagram logo" src="images/instagram-logo.png" class = "social-media-links"></a>
				<a href="https://twitter.com/Minecraft" target="_blank"><img alt="Twitter logo" src="images/twitter-logo.png" class = "social-media-links"></a>
				<a href="https://www.youtube.com/Minecraft" target="_blank"><img alt="YouTube logo" src="images/youtube-logo.png" class = "social-media-links"></a>
				<a href="https://www.facebook.com/minecraft/" target="_blank"><img alt="Facebook logo" src="images/facebook-logo.png" class = "social-media-links"></a>
			</div>
		</div>
	</body>
</html>