<!doctype html>
<html lang="en">
	<head>
		<title>Home</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="css/home_style.css">
			<link rel="stylesheet" href="css/global.css">
			<link rel="icon" href="favicon.ico">
	</head>	
	<body>
	<div class="stickysticky">
<!-- Banner at Head of Webpage -->
		<div class = "header">All you need to know about Minecraft</div>
<!-- Navigation Bar -->
		<div class = "navigation">
			<a href="homepage.html">Home</a>
			<a href="get-minecraft.html">Get Minecraft</a>
			<a href="blog-posts.html">Blog Posts</a>
			<a href="world-seeds.html">World Seeds</a>
			<a href="build-ideas.html">Build Ideas</a>
			<a href="admin-login.html">Login</a>
		</div>
	</div>
<!-- Main Body of Page -->
		<div class = "main">
			<div class = "get-mc">
				<div id = "get-mc-home-img">
					<img src="images/get-mc1.jpg" alt="Get Minecraft Image" id = "image-home">
				</div>
				<div id = "get-mc-button-np">
					<p>Join the Minecraft community today!</p>	<!-- for smaller display, have button on same line -->


			<!-- Make a javacript for this for the onclick using: document.getElementById("link-get-mc").onclick = function () {
        location.href = "get-minecraft.html"; };-->
 					<a href="get-minecraft.html"><input type="button" value = "Get Minecraft" id = "link-get-mc"></a>
				</div>
			</div>
			<div id = "about-mc">
				<h1>About Minecraft</h1>
				<p>This is some text about minecraft, we will fill this in later but for now this is some placeholder
					text yada yada yada. This is some text about minecraft, we will fill this in later but for now this
					is some placeholder text yada yada yada.This is some text about minecraft, we will fill this in
					later but for now this is some placeholder text yada yada yada.</p>
			</div>

			<div class = "new-features">
				<h1>New Features</h1>
				<div id="scroller">
					<div id = "go-back">
						<img src="images/back.png" alt="Back" class="arrows" id="back-arrow">
					</div>
					<div id = "feature-img">
						<img src="images/new-characters.png" alt="Feature" id = "feature">
					</div>
					<div id = "go-next">
						<img src="images/next.png" alt="Next" class="arrows" id="next-arrow">
					</div>
				</div>
			</div>
		</div>
				<p id = "-new-feature-title" align="center">New Characters</p>
<!-- Footer -->
		<div class = "footer">
			<div class = "footer-contact-info">
				<h3>Check out the official Minecraft social media for more</h3>
				<a href="https://www.instagram.com/minecraft/" target="_blank"><img alt="Intagram logo" src="images/instagram-logo.png" class = "social-media-links"></a>
				<a href="https://twitter.com/Minecraft" target="_blank"><img alt="Twitter logo" src="images/twitter-logo.png" class = "social-media-links"></a>
				<a href="https://www.youtube.com/Minecraft" target="_blank"><img alt="YouTube logo" src="images/youtube-logo.png" class = "social-media-links"></a>
				<a href="https://www.facebook.com/minecraft/" target="_blank"><img alt="Facebook logo" src="images/facebook-logo.png" class = "social-media-links"></a>
			</div>
		</div>
	</body>
</html>