<!doctype html>
<html lang="en">
	<head>
		<title>Home</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="css/global.css">
	</head>
	<body>
<!-- Banner at Head of Webpage -->
		<div class = "header">All you need to know about Minecraft</div>
<!-- Navigation Bar -->
		<div class = "navigation">
			<a href="homepage.html">Home</a>
			<a href="get-minecraft.html">Get Minecraft</a>
			<a href="blog-posts.html">Blog Posts</a>
			<a href="world-seeds.html">World Seeds</a>
			<a href="build-ideas.html">Build Ideas</a>
			<a href="admin-login.html">Login</a>
		</div>
<!-- Main Body of Page -->
		<div class = "main">
            <div class = "list-world-seeds">
                    <table>
                        <!-- {% for world_seed_key, seed in worlds %} -->
                        <tr>
                            <td>
                                <!-- {% if current_user.is_admin %} -->
                                <label class="checkbox">
                                  <input type="checkbox" name="movie_keys" /> <!--value="{{ movie_key }}" -->
                                </label>
                                <!-- {% endif %} -->
                                <!--<a href="{{ url_for('movie_page', movie_key=movie_key) }}">
                                  {{ movie.title }}
                                  {% if movie.year %} ({{ movie.year }}) {% endif %}
                                </a> -->
                            </td>
                        </tr>
                <!-- {% endfor %} -->
                    </table>
            </div>
            <div id = "create-world-seed">

            </div>
		</div>
<!-- Footer -->
		<div class = "footer">
			<div class = "footer-contact-info">
				<h3>Check out the official Minecraft social media for more</h3>
				<a href="https://www.instagram.com/minecraft/" target="_blank"><img alt="Intagram logo" src="images/instagram-logo.png" class = "social-media-links"></a>
				<a href="https://twitter.com/Minecraft" target="_blank"><img alt="Twitter logo" src="images/twitter-logo.png" class = "social-media-links"></a>
				<a href="https://www.youtube.com/Minecraft" target="_blank"><img alt="YouTube logo" src="images/youtube-logo.png" class = "social-media-links"></a>
				<a href="https://www.facebook.com/minecraft/" target="_blank"><img alt="Facebook logo" src="images/facebook-logo.png" class = "social-media-links"></a>
			</div>
		</div>
	</body>
</html>